/* General styling */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  color: #e8f804;
}

/* Header styling */
header {
  background-color:  #093931;;
  padding: 20px 0;
}

.logo {
  float: left;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #e8f804;
}

/* Hero section styling */
.hero {
  
  background-color: #093931;
  text-align: center;
  padding: 50px 0;
}

.hero h2 {
  color: #e8f804;
  font-size: 36px;
  margin-bottom: 10px;
}

.hero h3 {
  color: #e8f804;
  font-size: 24px;
  margin-bottom: 20px;
}

.hero .btn {
  background-color: #050505;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Main section styling */
main {
  padding: 50px 0;
}

.contacto,
.productos,
.collection,
.selection,
.story {
  margin-bottom: 50px;
  text-align: center;
}

.TitleThree {
  text-align: left;
  margin-bottom: 20px;
}

.productos,
.collection,
.selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productos img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}


.collection img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.imagenCua img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  
}

.story img {
  width: 100%;
}

/* Footer styling */
footer {
  background-color:  #093931;
}

.PartUno,
.partDos {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.izquierda,
.derecha,
.izq,
.cen,
.der {
  flex: 1;
}

footer p {
  margin-bottom: 10px;
}

footer input {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

footer button {
  background-color: #d3e016da;
  color: #070706;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}