/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styles */
body {
  font-family: sans-serif;
  background-color: #f5f5f5;
}

/* header styles */
header {
  background-color:  #002a28;
  padding: 32px;
}

.logo {
  float: left;
  font-size: 2em;
  font-weight: bold;
  color: #F5D38E
  
}

nav {
    overflow: hidden;
  ;
  }

nav ul {
  list-style: none;
  float: right;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color:white;
}

.icons {
  float: right;
  margin-top: 10px;
  
}

.icons a {
  margin-left: 10px;
  color: #da0e0e;
}

.hero {
  text-align: center;
  padding: 30px;
  color: #F5D38E;
}

.hero h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

/* main styles */
main {
  padding: 20px;
}

.product-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-filter button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.product-filter button.active {
  background-color: #ccc;
}

.product_grid-line1{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0px 0px 0px;
}
.product_grid-line2{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0px 0px 0px;
}

.product_grid-big{
  display: flex;
  width: 576px;
  height: 826px;
  margin: 50px 0px 0px 60px;
  background-color: #FFFFFF;
}

.producto-big img{
  width: 576px;
  height: 734px;
}

.producto-big{
  display: flex;
  text-align: center;
}

.product_grid-line3{
  display: flex;
}

.product_grid-line4{
  display: flex;
}

.product_grid-column{
  display: flex;
  flex-direction: column;
  margin: 50px 0px 0px 65px;
  gap: 18px;
}

.product_grid-five-elements{
  display: flex;
}

.producto {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 276px;
  height: 404px;
}

.producto img {
  width: 100%;
  height: auto;
}

.producto h5 {
  margin-top: 10px;
  font-size: 1em;
}

.producto p {
  margin-bottom: 10px;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px 0px;
  gap: 15px;
}

.pagination button{
  width: 40px;
  height: 40px;
  border-radius: 60px;
  border: none;
}

.container_finals-logs{
  display: flex;
  margin: 100px 0px 100px 0px;
  justify-content: center;
  gap: 170px;
}

.finals-logs1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.finals-logs2{  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.finals-logs3{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* footer styles */
footer {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom ul {
  list-style: none;
  display: inline-block;
}

.footer-bottom li {
  display: inline-block;
  margin-left: 20px;
}

.footer-bottom a {
  text-decoration: none;
  color: #333;
}

/* newsletter styles */
footer {
    background-color:  #093931;
  }
  
  .PartUno,
  .partDos {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .izquierda,
  .derecha,
  .izq,
  .cen,
  .der {
    flex: 1;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  footer input {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 80%;
  }
  
  footer button {
    background-color: #d3e016da;
    color: #070706;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }